<form [formGroup]="addItemData" (ngSubmit)="addItem()">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Enter image Url" formControlName="imageUrl"  aria-label="Username" aria-describedby="basic-addon1" />
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Enter title"  formControlName="title"  aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Enter Description" formControlName="description"  aria-label="Username" aria-describedby="basic-addon1">
  </div>

<a [routerLink]="'/'" class="btn btn-primary ml-2" (click)="addItem()" >Add Data</a>

</form>





